# Database
database/

# VSCode
**/.vscode/*
!**/.vscode/extensions.json
!**/.vscode/settings.json

# Parcel
.parcel-cache/
dist/

# Dependency directories
node_modules/

# Python
**/__pycache__/
config.py

# Yarn
yarn.lock

# testing
test/
