doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Team Debit

    // Third Party CSS
    link(href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css")

    // Customized CSS
    link(href="./forum.sass" rel="stylesheet")
  body
    section.personal-setting-page.transition.hidden
      .title-with-icon
        i.big.align.justify.icon
        h1 個人帳戶設定
      .personal-setting-pic
        i.huge.user.circle.outline.icon
      p 帳號
      .personal-setting-multi-btn
        .personal-setting-two-btn
          div
            h3 收藏行程
            i.huge.bookmark.icon
          div
            h3 發表行程
            i.huge.edit.outline.icon
        .personal-setting-two-btn
          div
            h3 累積點數
            h3 XXXX
          div
            h3 銀行帳戶
            div
              div
              p ******1234
      button 更新銀行帳戶
      button 修改密碼
      button 刪除帳號
      button 登出

    section.change-bank.transition.hidden
      .change-bank-bar
        i.big.chevron.left.icon
        h1 更換銀行帳戶
      .change-bank-content
        div
          h2 銀行代碼
          input(type="number" placeholder="銀行代碼")
        div
          h2 帳號
          input(type="number" placeholder="帳號")
        button 儲存

    section.change-password.transition.hidden
      .change-password-bar
        i.big.chevron.left.icon
        h1 修改密碼
      .change-password-content
        div
          h2 舊密碼
          input(type="number" placeholder="舊密碼")
        div
          h2 新密碼
          input(type="number" placeholder="新密碼")
        div
          h2 再次輸入新密碼
          input(type="number" placeholder="新密碼")
        button 確定

    section.group-chosing-page.transition.hidden
      .group-chosing-bar
        i.big.grey.align.justify.icon
        h1 選擇群組
        i.big.grey.chevron.right.icon
      .group-chosing-content
        .group-box
          ul.imgbox
            li.img1
            li.img2
            li.img3
            li.img-none
            li.img-none
          i.big.grey.angle.left.icon
          i.big.grey.angle.right.icon
        .group-info
          .group-title
            h3 群組名稱
            p 群組類型
          .group-member
            each val in [1, 2, 3, 4, 5, 6, 7]
              div
                div
                h3 群組成員
        button 選擇群組

    section.group-setting-page.transition.hidden
      .group-setting-bar
        i.big.align.justify.icon
        h1 群組設定
      .group-setting-pic
        div
        p 群組名稱
      section.group-setting-choose
        button 群組基礎設定
        button 餘額通知及匯款金額設定
        button 新增群組成員
      section.group-basic-setting.transition.hidden
        h2 幣別設定
        select(name='group-currency')
          option(value='TWD') 台幣TWD
          option(value='USD') 美元USD
          option(value='JPY') 日幣JPY
        h2 群組類別設定
        select(name='group-kind')
          option(value='travel') 旅遊
          option(value='life') 生活
          option(value='club') 社團
          option(value='other') 其他
        button 儲存
      section.group-notice-setting.transition.hidden
        h2 當餘額不足多少通知
        input(type="number" name='group-balance' placeholder="XXXXX")
        h2 每次匯款金額
        input(type="number" name='group-refill' placeholder="XXXXX")
        button 儲存
      section.group-add-setting.transition.hidden
        each val in [1, 2]
          div
            div
            h3 成員名稱
        .group-invite
          div
          h3 邀請其他朋友

    section.forum-main-page.transition.hidden
      .forum-main-bar
        i.big.align.justify.icon
        h1 論壇
        i.big.sliders.icon
      .forum-main-content
        .forum-main-pic
          div
          h1 想去哪裡玩?
        .forum-main-posts
          each val in [1, 2, 3, 4, 5, 6, 7]
            .forum-main-post
              p user name
              h3 title
              p 123456789123456789123456789123456789123456789
              div
                div
                  i.heart.icon
                  p 123
                div
                  i.bookmark.icon
                  p 123
                div
                  i.comment.icon
                  p 123
      .forum-main-fixed-i
        i.big.chevron.up.icon
        i.big.edit.outline.icon

    section.read-post-page.transition.hidden
      .read-post-bar
        i.big.chevron.left.icon
        h2 標題XXXXXXXXXXXXX
        i.big.share.square.outline.icon
      .read-post-content
        .read-post-main
          .read-post-id
            div
            p ID XXXXXXXX
          h1 標題XXXXXXXXXXXXX
          div
            p 123456789123456789123456789123456789123456789123456789123456879123456789123456789
            p 123456789123456789123456789123456789123456789
        .read-post-message
          .read-post-message-bar
            div
              i.large.heart.icon
              p 123
            div
              i.large.bookmark.icon
              p 123
            div
              i.large.comment.icon
              p 123
            .read-post-like
              i.large.heart.outline.icon
              i.large.bookmark.outline.icon
          .read-post-comments
            each val in [1, 2, 3, 4, 5, 6, 7]
              .read-post-comment
                .read-post-id
                  div
                  p ID XXXXXXXX
                div
                  p 123456789123456789123456789123456789123456789123456789123456879123456789123456789
                  p 123456789123456789123456789123456789123456789
          .read-post-response
            div
            input(type="text" placeholder="留言...")
            i.big.heart.outline.icon
            i.big.bookmark.outline.icon
            i.big.share.square.outline.icon

    section.schedule-page.transition.hidden
      .schedule-bar
        i.big.grey.align.justify.icon
        h1 行程安排
        i.big.grey.edit.outline.icon
      .schedule-content
        each val in [1, 2, 3]
          .schedule-group
            .schedule-pic
            .schedule-name
              i.share.square.icon
              h3 群組名稱
              h3 3/1-3/4

    section.schedule-group-page
      .schedule-group-bar
        i.big.grey.chevron.left.icon
        i.big.grey.edit.outline.icon
      .schedule-group-content
        each val in [1, 2]
          h3.schedule-group-day 3/1 Day1
          each val in [1]
            .schedule-group-item
              div
                i.trash.alternate.icon
                i.edit.outline.icon
              i.ellipsis.horizontal.icon
              div
                h3 9:00
                h3 行程名稱
              h3.schedule-group-note 備註內容
        i.big.plus.icon
      .schedule-group-pic
          div
          h3 群組名稱

    section.schedule-add.transition.hidden
      .schedule-add-title
        h3 新增行程
        i.chevron.right.icon
      .schedule-add-two
        div
          h3 日期
          input(type="date")
        div
          h3 時間
          input(type="time")
      div
        h3 地點
        input(type="text")
      div
        h3 備註
        input(type="text")
      button 確定

    // JavaScript
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")
    script(src="forum.js")
