@import 'foundation'

input:focus, select:focus
    outline: none

body
    width: 100vw
    display: inline-flex
    align-items: center
    flex-direction: column
    justify-content: space-evenly
    background-color: #FFF3E0
    color: white

.entrance-title
    @include flex-center
    font-size: 2.5rem
    background-color: #ae6d0c
    border-radius: 30px
    width: 70vw
    height: 35vw
    box-shadow: 0 0.2em 0.2em #00000059
    transition-duration: 0.4s

.entrance-btn button
    @extend %btn-style
    margin: auto 0 5vh 0

.login-page, .sign-up-page, .verification-page
    @include jump-page
    h1
        font-size: 3rem
        padding: 2vh
        margin: 0
    div h2
        margin: 0.5em 0 !important
        font-size: 1.5rem
    div input
        @extend %input-style
        height: 12vw
        width: 70vw
        box-shadow: 0 0.2em 0.2em #00000059
        &::placeholder
            font-size: 1.2em
            color: #808080
            font-weight: 600
    button
        @extend %btn-style
        margin: auto 0 5vh 0
    div:nth-child(1)
        @include flex-center
        width: 100%
        i
            @include circle($radi: 12vw)
            @include flex-center
            position: absolute
            left: 5vw
            background-color: white
            color: #808080

.sign-up-page
    height: 75vh
    button
        margin: 0

.sign-up-button-div
    @include flex-center($dir: column)
    row-gap: 2vh
    margin: auto
    button:nth-child(2)
        width: 30vw
        height: 10vw
        background-color: #B5A24C

.login-error-msg, .sign-up-error-msg
    color: red

.choose-group-page
    @include jump-page($h: 62vh)
    button
        @extend %btn-style
        margin: 2% 0%
    .choose-group-enter
        width: 30vw
        background-color: #798337

.choose-text
    @include flex-center($dir: column)
    border-radius: 15px
    background-color: #ae6d0c
    width: 60vw
    font-size: 1.3rem
    height: 7vh
    margin-top: 5%
    p
        margin: 0

.group-box
    display: flex
    flex-direction: column
    justify-content: center
    width: 100vw
    .imgbox
        overflow: hidden
        position: relative
        height: 35vw
        padding: 0
        li
            @include circle
            position: absolute
            background-color: #B5A24C
            transition: all 0.3s linear
            img
                width: 100%
    i.angle.left
        position: absolute
        left: 2vw
    i.angle.right
        position: absolute
        right: 2vw

.choose-group-name
    position: absolute
    left: 50vw
    z-index: 100
    transform: translate(-50%, 17.5vw)
    background-color: #FFF3E0
    color: #808080
    font-weight: 600
    padding: 0 1vw

.group-box .imgbox .img1
    opacity: 0.8
    z-index: 0
    left: calc(25% - 17.5vw)

.group-box .imgbox .img2
    opacity: 1
    z-index: 1
    left: calc(50% - 17.5vw)

.group-box .imgbox .img3
    opacity: 0.8
    z-index: 0
    left: calc(75% - 17.5vw)

.group-box .imgbox .img-none
    opacity: 0
    z-index: 0
    left: calc(50% - 17.5vw)

.create-group-page, .join-group-page, .who-am-i-page
    @include jump-page($bg-color: #F6BF6A, $h: 90vh)
    h1
        font-size: 3rem
        padding: 2vh
        margin: 0
    button
        @extend %btn-style
        margin: auto 0 4vh 0
        background-color: #AE6D0C

.join-group-page, .who-am-i-page
    height: 60vh
    justify-content: space-between
    button
        margin: 0 0 4vh 0

.join-group-error-msg
    color: red
    transform: translateY(-5vw)

.title-with-icon
    @include flex-center
    width: 100%
    i
        @include circle($radi: 12vw)
        @include flex-center
        position: absolute
        left: 5vw
        background-color: white
        color: #808080

.create-pic, .who-am-i-pic
    @include flex-center
    @include circle($radi: 30vw)
    background-color: #FFF3E0
    box-shadow: 0 0.2em 0.2em #00000059
    z-index: 10

.create-container, .join-container, .who-am-i-container
    @include flex-center($dir: column)
    box-shadow: 0 0.2em 0.2em #00000059
    background-color: #efa159
    border-radius: 40px
    width: 75vw
    transform: translateY( -15vw )
    padding: 15vw 7.5vw 7.5vw 7.5vw
    div
        width: 60vw
    h2
        margin: 0.35em 0 !important
        font-size: 1.5rem
        @media screen and (max-height: 750px)
            margin: 0.2em 0 !important
    input, select
        @extend %input-style
        height: 12vw
        width: 100%
        @media screen and (max-height: 750px)
            height: 10vw
    select
        padding-left: 0.5rem

.join-container
    transform: none
    padding: 7.5vw

.create-two-input
    display: inline-flex
    justify-content: space-between
    div
        width: 45%

.create-group-error-msg, .who-am-i-error-msg
    color: red
    transform: translateY(-14vw)

.who-am-i-container h2
    align-self: baseline
