@import 'foundation'

select:focus
    outline: none

body
    width: 100vw
    background-color: #FFF3E0
    color: white

/********************************/
/*     01. Section main-top     */
/********************************/
.main-top, .personal-top-part
    display: flex
    justify-content: center
    align-items: center
    width: 100vw
    height: 25vh
    background-color: #EFA159

.main-dashed, .personal-dashed
    border-style: dashed !important
    border-radius: 50px 50px 0 0
    border: 1.7vw solid #AE6D0C
    width: 95vw
    height: 22vh

.main-top-text
    display: flex
    flex-direction: column
    align-items: center
    p, h1, h2, h3
        font-weight: 600
        z-index: 10
        margin: 0
    p
        margin-right: 30vw
    h1
        font-size: 2.5rem
    div
        display: flex
        width: 100%
        justify-content: space-between
        i
            color: #FFF3E0
            align-self: baseline
            width: 7vh
            height: 5vh
            display: flex
            align-items: flex-end
            justify-content: center

.main-top-ellipse, .personal-top-ellipse
    border-radius: 50%
    background-color: #605416
    position: absolute
    transform: rotateZ(-45deg)
    width: 43vw
    height: 30vw
    top: 7vh
    left: 35vw

.main-top-circuit, .personal-top-circuit
    border-radius: 50%
    background-color: #AE6D0C
    position: absolute
    width: 32vw
    height: 32vw
    left: 23vw
    top: 6vh

/***********************************/
/*     02. Section main-buttom     */
/***********************************/
.main-buttom-banner
    position: fixed
    bottom: 0
    height: 70px
    width: 100vw
    background-color: #EFA159
    display: flex
    justify-content: space-around
    align-items: center
    border-radius: 10px 10px 0 0
    color: #605416
    i
        width: 15vw
        height: 15vw
        display: flex
        align-items: center
        justify-content: center
    i:nth-child(3)
        color: #FFF3E0
        border-radius: 50%
        background-color: #AE6D0C

.main-buttom-banner .home
    color: #fff3e0

/***************************************/
/*     03. Section remittance-page     */
/***************************************/
.remittance-page
    @include jump-page($bg-color: #FFF3E0, $h: 98.5vh)
    color: #808080
    z-index: 10
    h1
        font-size: 3rem
        margin: 2vh 0
    h2
        margin: 0.2em auto !important
        font-size: 2rem
        border-radius: 10px
        background-color: #798337
        color: white
        padding: 1vw 3vw
    h3
        font-size: 1.7rem
        margin: 0
    p
        font-size: 1.3rem
        font-weight: 600
    button
        @extend %btn-style
        margin-top: auto
        margin-bottom: 10vh

.remittance-group, .invitation-group, .close-account-image
    @include flex-center
    @include circle
    background: #808080
    i
        color: #FFF3E0
    img
        width: 100%

/*******************************************/
/*     03-1. Section remittance-unpaid     */
/*******************************************/
.remittance-unpaid h2
    width: 70vw

.remittance-account
    width: 70vw
    border: 1.7vw solid #AE6D0C
    border-style: dashed
    padding: 4vh 3vw
    margin: 3vh
    h3:nth-child(2)
        color: #808080
        background-color: #c4c4c4
        border-radius: 10px
        padding: 1vw 3vw
        margin: 1rem 0 0 0

/*****************************************/
/*     03-2. Section remittance-paid     */
/*****************************************/
.remittance-paid
    h2
        width: 4em
    p
        text-align: center
        margin: 0
    i
        @include circle
        @include flex-center
        background-color: white
        color: #B5A24C
        margin: 2vh 0

/********************************************/
/*     04. Section send-invitation-page     */
/********************************************/
.send-invitation-page
    @include jump-page($bg-color: #FFF3E0, $h: 98.5vh)
    color: #808080
    z-index: 10
    i.close
        align-self: end
        margin: 5vw 5vw 0 0
    h1
        font-size: 3rem
        margin: 0 0 2vh 0
    p
        font-size: 1.3rem
        font-weight: 600
        margin: 2vw
    button
        @extend %btn-style
        margin: 5vw
    div
        padding: 5vh 0
        h3
            margin: 2vw
            font-size: 1.7rem
            &:nth-child(2), &:nth-child(4)
                width: 60vw
                background-color: #c4c4c4
                border-radius: 10px
                padding: 1vw 3vw

/*.qr-code-div
    width: 40vw
    height: 40vw
    border: 2vw dashed #AE6D0C*/

/*********************************/
/*     05. Section home-page     */
/*********************************/
.home-page
    padding: 1vh 8vw
    color: #808080
    h3
        margin: 1vh 0
    p
        margin: 0
        text-align: end
        font-weight: 600

.home-barchart-div
    margin: 0 auto 2vh auto
    width: 84vw
    height: 15vh

.home-today-cost
    display: inline-flex
    justify-content: flex-end
    column-gap: 1vw
    width: 100%

/******************************************/
/*     05-1. bottom part of home-page     */
/******************************************/
.home-record
    @include flex-center($dir: column)
    row-gap: 1vh
    div
        display: inline-flex
        justify-content: space-around
        align-items: center
        width: 80%
        height: 14vw
        border-radius: 10px
        background-color: white
        border: 1.1vw solid #EFA159
        h3:nth-child(1)
            width: 40%
            text-align: center
        i
            color: #B5A24C

/*******************************************/
/*     05-2. bottom part of chart-page     */
/*******************************************/
.chart-piechart-div
    width: 84vw
    height: 30vh

/**********************************/
/*     06. Section group-page     */
/**********************************/
.group-page
    display: flex
    flex-direction: column
    padding: 1vh 10vw
    color: #808080
    height: calc(75% - 70px)
    h3
        margin: 1vh 0
    button
        @extend %btn-style
        align-self: center
        margin: auto 0 5vh 0
        background-color: #AE6D0C

.group-record
    display: flex
    flex-direction: column
    align-items: flex-end
    row-gap: 5vw
    margin: 3vw 0
    div
        display: inline-flex
        width: 75vw
        height: 8vh
        border-radius: 20px
        background-color: white
        box-shadow: 0 0.2em 0.2em #00000059
        align-items: center
        column-gap: 6.5vw
        div
            width: 12vw
            height: 12vw
            border-radius: 50%
            background-color: #EFA159
            transform: translateX(-6vw)
        h3:nth-child(2)
            width: 30vw
        h3:nth-child(3)
            width: 20vw
    .group-invite-others
        div
            background-color: #E5E5E5
        h3
            width: 56.5vw !important

/***********************************/
/*     07. Section record-page     */
/***********************************/
.record-page
    display: flex
    height: calc(100vh - 70px)
    justify-content: center
    align-items: center
    background: linear-gradient(to bottom, #EFA159 0 20vh, transparent 20vh 100vh)

.record-dashed
    width: 95vw
    height: 88.5vh
    color: #808080
    border: 1.7vw solid #ae6d0c
    border-radius: 50px 50px 0 0
    border-style: dashed!important

.record-top-text
    flex-direction: column
    align-items: center
    display: flex
    div:nth-child(1)
        display: flex
        justify-content: space-between
        width: 100%
        i
            color: #FFF3E0
            align-self: baseline
            width: 7vh
            height: 5vh
            display: flex
            align-items: flex-end
            justify-content: center
    div:nth-child(2)
        @include flex-center
        width: 67.5vw
        height: 14vw
        background-color: white
        border: 1.1vw solid #efa159
        border-radius: 10px
        margin: calc((15vh - ((11.5vh - 70px) / 2) - 15.7vw) / 2) 0
        h3
            margin: 0
        i
            color: #B54C4C

.record-middle-text
    height: calc(88.5vh - 20vh + ((11.5vh - 70px) / 2) - 1.7vw)
    overflow: auto
    &::-webkit-scrollbar
        display: none

.record-record
    @include flex-center($dir: column)
    padding: 2vh 12vw
    h3
        margin: 0
        align-self: baseline
    p
        margin: 0
        align-self: baseline
    div
        display: inline-flex
        justify-content: space-around
        align-items: center
        width: 100%
        height: 14vw
        border-radius: 10px
        background-color: white
        border: 1.1vw solid #EFA159
        margin: 0.5vh 0
        h3
            margin: auto 0
        h3:nth-child(1)
            width: 40%
            text-align: center
        i
            color: #B5A24C

/***********************************/
/*     08. Section record-page     */
/***********************************/
.personal-top-part
    height: 45vh

.personal-dashed
    height: 42vh

.personal-top-text
    display: flex
    flex-direction: column
    align-items: center
    p, h1, h2, h3
        font-weight: 600
        z-index: 10
        margin: 0
    h1
        font-size: 2.5rem
    p
        font-size: 1.5rem
        color: #FFF3E0
    i.align.justify
        align-self: baseline
        width: 7vh
        height: 5vh
        display: flex
        align-items: flex-end
        justify-content: center
    div:nth-child(4)
        @include flex-center($dir: column)
        height: 36.5vw
        z-index: 10

.personal-pic
    @include flex-center
    @include circle($radi: 30vw)
    background-color: #FFF3E0
    box-shadow: 0 0.2em 0.2em #00000059
    z-index: 10

.personal-top-ellipse
    top: 26vh

.personal-top-circuit
    top: 25vh

.personal-bottom-part
    padding: 1vh 8vw
    height: calc(55vh - 70px)
    color: #808080
    overflow-y: auto
    &::-webkit-scrollbar
        display: none
    h3
        margin: 1vh 0
        height: 1.5rem

.personal-record
    text-align: center
    div
        display: inline-flex
        justify-content: space-around
        align-items: center
        width: 80%
        height: 14vw
        border-radius: 10px
        background-color: white
        border: 1.1vw solid #EFA159
        margin: 0.5vh
        h3:nth-child(1)
            width: 40%
            text-align: center

/**************************************/
/*     09. Section add-event-page     */
/**************************************/
.add-event-page
    @include jump-page($bg-color: #F7CA9C, $h: 98.5vh)
    z-index: 10
    i.close
        margin: 5vw 5vw 0 0
        color: #808080
        align-self: end
    section
        position: absolute
        bottom: 0
        height: 75vh
        display: flex
        flex-direction: column
        width: 100vw
        background-color: #FFF3E0
        color: #808080

.add-event-money
    h1
        align-self: baseline
        margin: 0
    div
        @include flex-center
        background-color: white
        border-radius: 15px
        width: 80vw
        height: 9vh
        box-shadow: 0 0.2em 0.2em #00000059
        input
            border: 0
            border-bottom: 3px solid #EFA159
            width: 70vw
            height: 5vh
            font-size: 1.7rem
            &:focus
                outline: none

.add-event-image, .add-event-comment
    position: absolute
    right: 0
    display: flex
    justify-content: flex-end
    width: 15vw
    height: 15vw
    margin-left: auto
    i
        margin: 1.5vw

.add-event-image
    align-items: flex-end
    border-radius: 100% 0 0 0
    bottom: 75vh
    background-color: #798337

.add-event-comment
    align-items: flex-start !important
    border-radius: 0 0 0 100%
    bottom: calc(75vh - 15vw)
    background-color: #AE6D0C
    z-index: 100
    i
        color: white

/*******************************************/
/*     09-1. Section add-event-content     */
/*******************************************/
.add-event-content
    padding: 1vh 10vw
    h2
        margin: 0.2em 0
    input, select
        @extend %input-style
        background-color: #F6BF6A
        height: 5vh
        width: 100%
        font-size: 1.2em
        outline-color: #AE6D0C
    select
        width: 50%
    button
        @extend %btn-style
        align-self: center
        margin: 0 0 2vw 0

.add-event-content-div
    display: inline-flex
    align-items: center
    i.caret.down
        @include flex-center
        margin-left: auto
        border-radius: 10px
        background-color: #F6BF6A
        width: 7vw
        height: 8vw

.add-event-agreement
    display: inline-flex
    column-gap: 5vw
    justify-content: center
    align-items: center
    button
        width: 35vw
    button:nth-child(1)
        background-color: #B5A24C
    button:nth-child(2)
        background-color: #B54C4C


.paid-people, .split-people
    display: inline-flex
    align-items: center
    column-gap: 2vw
    div
        @include circle($radi: 17vw)
        background-color: #EFA159

.add-event-content-error-msg
    align-self: center
    color: red
    margin-top: auto

/***************************************/
/*     09-2. Section split-account     */
/***************************************/
.split-account button, .paid-account button
    @extend %btn-style
    align-self: center
    margin: auto 0 10vh 0

.split-account-navbar
    display: flex
    justify-content: center
    :nth-child(odd)
        background-color: #EFA159
    :nth-child(even)
        background-color: #B5A24C
    :nth-child(1)
        border: 1.5vw solid #AE6D0C

.split-way
    @include flex-center
    display: flex !important
    width: 25vw !important
    height: 12.5vw !important
    border-radius: 0 0 25vw 25vw
    margin: 0 !important
    color: white
    i
        border: 0 !important
        background-color: transparent !important

.split-account-content, .paid-account-content
    padding: 1vh 10vw

.split-content-depiction
    display: flex
    justify-content: space-between
    align-items: center
    height: 3vh
    p
        color: #A8A8A8
        font-weight: 600
        margin: 0
    i
        width: fit-content
        display: none
        align-items: center
        height: 100%
        h3
            margin-left: 1vw

.split-record, .paid-record
    display: flex
    flex-direction: column
    align-items: flex-end
    row-gap: 3vw
    margin: 3vw 0
    div
        display: inline-flex
        justify-content: space-around
        align-items: center
        width: 75vw
        height: 15vw
        border-radius: 10px
        background-color: white
        border: 1.1vw solid #EFA159
        div
            @include circle($radi: 12vw)
            transform: translateX(-6vw)
        h3
            transform: translateX(-6vw)
            margin: 0 auto 0 3vw
        input
            width: 3em
            height: 3em
            border: 0
            margin-right: 3vw
            font-weight: 600
            &::placeholder
                transform: translateY(-0.5rem)
                white-space: normal

.split-account-error-msg, .paid-account-error-msg
    align-self: center
    color: red

/**************************************/
/*     09-3. Section comment-page     */
/**************************************/
.comment-page-top
    h1
        margin: 0
    div
        display: inline-flex
        justify-content: space-around
        width: 80vw
        height: 14vw
        border: 1.1vw solid #efa159
        border-radius: 10px
        margin: calc((9vh - 14vw) / 2) 0
        background-color: white
        color: #808080
        h3
            margin: auto 0
        h3:nth-child(1)
            width: 30vw
            text-align: center

.comment-content
    display: flex
    flex-direction: column-reverse
    padding: 8vw 5vw 0 5vw
    height: calc(75vh - 16vw)
    overflow-y: auto
    &::-webkit-scrollbar
        display: none

.each-comment-space
    display: flex
    justify-content: space-between
    margin: 1.5vw 0
    div:nth-child(1)
        @include circle($radi: 12vw)
        background-color: #EFA159
        box-shadow: 0 0.1em 0.1em #00000059
    div:nth-child(2)
        width: 77vw
        p:nth-child(1)
            margin: 0
        p:nth-child(2)
            word-break: break-all
            width: fit-content
            background-color: white
            border: 1.1vw solid #EFA159
            border-radius: 8px
            padding: 0.5vw 2vw

.comment-input
    display: flex
    justify-content: space-between
    position: fixed
    bottom: 0
    width: 100vw
    height: 16vw
    padding: 2vw 5vw
    background-color: #F7CA9C
    div
        @include circle($radi: 12vw)
        background-color: #EFA159
        box-shadow: 0 0.1em 0.1em #00000059
        color: #808080
    input[type="text"]
        background-color: white
        border: 1.1vw solid #808080
        border-radius: 8px
        padding: 0.5vw 14vw 0.5vw 2vw
        width: 77vw
        font-weight: 600
    input[type="button"]
        position: absolute
        right: 5vw
        width: 15vw
        height: 12vw
        background-color: transparent
        border: 0
        font-weight: 600

/********************************************/
/*     09-4. Section denial-reason-page     */
/********************************************/
.denial-reason-page
    padding: 1vh 10vw
    align-items: center
    h1
        @include flex-center
        background-color: #B54C4C
        color: white
        width: 34vw
        height: 7vh
        border-radius: 10px
        z-index: 10
        margin: 4vh 0 0 0
        box-shadow: 0 0.1em 0.1em #00000059
    h2
        margin: 0.2em 0
        align-self: baseline
    input
        background-color: #F6BF6A
        height: 5vh
        width: 100%
        border-radius: 15px
        border: 0
        padding-left: 1rem

.denial-container
    background-color: white
    width: 75vw
    border-radius: 40px
    padding: 10vw
    transform: translateY( -3.5vh )
    box-shadow: 0 0.2em 0.2em #00000059
    h3, input
        @include flex-center
        color: white
        width: 100%
        background-color: #808080
        height: 6vh
        border-radius: 10px
        margin: 3vh 0
    input
        outline-color: #E8E8E8
        font-size: 1.28571429rem
        text-align: center
        &::placeholder
            color: white
            font-weight: 600

/**************************************/
/*     10. Section side-menu-page     */
/**************************************/
.side-menu-page, .side-menu-block, .side-menu-content
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 100

.side-menu-content
    width: 50vw
    background-color: rgba(181, 162, 76, 0.9)
    border-radius: 0 25px 25px 0
    padding: 3vh 6vw
    div
        margin: 2vh 0
        div
            width: 27vw
            border-radius: 20px
            height: 11vw
            white-space: nowrap
            padding-left: 2vw
            display: flex
            align-items: center
    h3
        margin: 2vw 1vh
    div:nth-child(1) div
        background-color: #798337
    div:nth-child(2) div
        background-color: #B54C4C
    div:nth-child(3) div
        background-color: #263cb8
    div:nth-child(4) div
        background-color: #AE6D0C

/******************************************/
/*     11. Section close-account-page     */
/******************************************/
.close-account-page
    @include jump-page($bg-color: #FFF3E0, $h: 98.5vh)
    z-index: 10
    color: #808080
    h1
        margin: 0
        padding: 2vh
        font-size: 3rem
    p
        font-size: 1.3rem
        font-weight: 600
    div:nth-child(3)
        @include flex-center
        width: 100%
        i
            @include circle($radi: 12vw)
            @include flex-center
            position: absolute
            left: 5vw
            background-color: white

.close-account-left-graph
    position: fixed
    width: 70vw
    height: 70vw
    background-color: #B5A24C
    left: -45vw
    top: 15vh
    z-index: -1
    border-radius: 30% 70% 70% 30%/35% 65% 43% 57%

.close-account-right-graph
    position: fixed
    width: 100%
    height: 100%
    background-color: #AE6D0C
    z-index: -1
    right: -55%
    bottom: -50%
    clip-path: path('M 0.55 232.61 c 1.8 93.33 52.38 89.72 119.21 92.73 c 79 3.56 38.06 91.55 207.13 89.71 C 428 414 476 334.74 467 213.67 C 457.81 90.55 396.73 0.8 270.37 0.5 C 105 0.11 136.74 68.88 94.47 102 C 46 139.93 -1.16 144.42 0.55 232.61 Z')

/*******************************************/
/*     11-1. Section close-review-page     */
/*******************************************/
.close-review-page
    @include flex-center($dir: column)
    button
        @extend %btn-style
        height: 18vw
        color: #FFF3E0
        p
            margin: 0

.close-account-btn
    @include circle($radi: 55vw)
    @include flex-center($dir: column)
    background-color: #605416
    margin: 3vh
    h2
        color: #FFF3E0
        margin: 2vw
    i
        @include flex-center
        @include circle($radi: 20vw)
        color: #EFA159
        background-color: #FFF3E0
        margin: 2vw

/*****************************************/
/*     11-2. Section close-done-page     */
/*****************************************/
.close-done-page
    @include flex-center
    div
        @include flex-center($dir: column)
        height: 15vh
        width: 55vw
        background-color: #605416
        color: #FFF3E0
        border-radius: 25px
        margin: 2vw
        box-shadow: 0 0.2em 0.2em #00000059
        h2
            margin: 1vw
    button
        @extend %btn-style
        position: absolute
        bottom: 10vh

/**********************************************/
/*     12. Section close-transaction-page     */
/**********************************************/
.close-transaction-page
    @include jump-page($bg-color: #FFF3E0, $h: 98.5vh)
    z-index: 10
    color: #808080
    h1
        margin: 0
        padding: 2vh
        font-size: 3rem
    button
        @extend %btn-style
        margin: auto

.close-transaction-content
    height: 75vh
    width: 70vw
    overflow-y: auto
    &::-webkit-scrollbar
        display: none

.close-transaction-title
    display: inline-flex
    justify-content: space-around
    width: 100%
    height: 14vw
    border-radius: 10px
    background-color: white
    border: 1.1vw solid #EFA159
    margin: 0.5vh 0
    h3
        margin: auto 0
    h3:nth-child(1)
        width: 30vw
        text-align: center

.close-transaction-detail
    border-radius: 10px
    background-color: white
    border: 1.1vw solid #EFA159
    padding: 2vw
    font-weight: 600
    div
        display: flex
        padding: 1vw 0
        div
            width: 50%
            align-items: center
            padding: 0
            border: 0 !important
        p:nth-child(1)
            margin: 0
        p:nth-child(2)
            margin: 0 auto
    div:nth-child(2)
        border-top: 1vw dashed #FEA159
        border-bottom: 1vw dashed #FEA159
